/* 基本样式，适用于所有超链接 */
a {
    text-decoration: none;
    /* 去除下划线 */
    color: #8A2BE2;
    /* 使用清华紫色 */
    transition: color 0.3s;
    /* 添加过渡效果 */
}

/* 鼠标悬停时的样式 */
a:hover {
    color: hwb(244 20% 20%);
    /* 使用深紫色作为鼠标悬停颜色 */
}

/* 点击后的样式 */
a:active {
    color: hsl(108, 60%, 65%);
    /* 使用中紫色作为点击后的颜色 */
}

/* 基本样式，适用于所有屏幕宽度 */
ul {
    list-style: none;
    padding-left: 0;
}

ul ul {
    margin-left: 15px;
}

/* 一级列表项样式 */
ul li {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    /* 加粗字体，突出一级列表项 */
}

/* 二级列表项样式 */
ul ul li {
    margin-bottom: 0;
    font-weight: normal;
    /* 恢复正常字体，二级列表项不加粗 */
}


/* 在小屏幕上的样式 */
@media (max-width: 768px) {
    ul ul {
        margin-left: 5px;
    }
}

/* 在大屏幕上的样式 */
@media (min-width: 769px) {
    ul ul {
        margin-left: 20px;
    }
}