/* 基本样式，适用于所有超链接 */
a {
    text-decoration: none;
    /* 去除下划线 */
    color: #333;
    /* 文字颜色 */
    transition: color 0.3s;
    /* 添加过渡效果 */
}

/* 鼠标悬停时的样式 */
a:hover {
    color: #FF5733;
    /* 鼠标悬停时的文字颜色 */
}

/* 点击后的样式 */
a:active {
    color: hsl(120, 78%, 56%);
    /* 点击后的文字颜色 */
}

/* 基本样式，适用于所有屏幕宽度 */
ul {
    list-style: none;
    padding-left: 0;
}

ul ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
    cursor: pointer;
    /* 添加自定义项目标记样式 */
    position: relative;
    /* 让子列表的位置相对于父项 */
    padding-left: 20px;
    /* 调整标记的左侧缩进 */
}

ul ul li {
    margin-bottom: 0;
    /* 去除子列表项的下间距 */
}

/* 在小屏幕上的样式 */
@media (max-width: 768px) {
    ul ul {
        margin-left: 10px;
        /* 减小子列表的缩进 */
    }
}

/* 在大屏幕上的样式 */
@media (min-width: 769px) {
    ul ul {
        margin-left: 30px;
        /* 增加子列表的缩进 */
    }
}